/*  light-green color style    */

dropbtn,
.fa-music,
.preloader .loader i,
.simply-countdown > .simply-section,
.social-links a i,
.button-1:hover,
.people-section .people-item-inner .social-links a i,
.event-section .event-item-inner span,
.story-section .story-text h3,
.story-section .story-item i,
.couple-section .social-links a i,
.couple-section .couple h3,
.couple-section .couple i.fa-heart,
body.dark .header .nav ul li a.active,
.header .nav ul li a.active,
body.dark .header .nav ul li a:hover,
.header .nav ul li a:hover{
    color: #0dcebd;
}

.fa-music,
.simply-countdown > .simply-section,
.social-links a i,
.button-1,
.video-section .video-item-inner:before,
.people-section .people-item-inner .social-links a i,
.event-section .event-item-inner:before,
.couple-section .social-links a i,
.couple-section .couple img{
    border-color: #0dcebd;
}

.preloader .loader:before{
    border-right-color: #0dcebd; 
}

.dropbtn,
.fa-music.pause:after,
.simply-countdown > .simply-section,
.setting .s-toggle-btn,
.social-links a:hover i,
.button-1,
.rsvp-section,
.video-section,
.people-section .people-item-inner .social-links a:hover i,
body.dark .people-section .filter-btn.active,
.event-section,
.couple-section .social-links a:hover i{
    background-color: #0dcebd;
}

.event-section .event-item-inner img,
.footer .footer-content .couple-name img{
    filter: hue-rotate(174deg);
}




